<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Animate(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{208,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(17).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(19).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(21).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{208,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(22).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(23).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(24).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(25).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(26).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(27).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(28).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(29).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{208,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(30).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(31).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(32).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(33).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(34).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(35).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(36).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(37).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{208,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(38).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(39).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(40).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{208,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,227}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{208,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,229}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>Animate(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,231}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim.png</string>
            <key>size</key>
            <string>{212,1165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd949deebf9efb89bc83dc27ca939ce:cd70563b80b8861013f180674f99534b:04e3d35b98db88c54f9550b662ce7434$</string>
            <key>textureFileName</key>
            <string>anim.png</string>
        </dict>
    </dict>
</plist>
